.items-tab{ 
    border: 1px solid #007da3;
  border-radius: 8px;
  background-color: #007da3;
  box-shadow: rgba(0, 204, 204, 0.4) -5px 5px, rgba(0, 204, 204, 0.3) -10px 10px,
    rgba(0, 204, 204, 0.2) -15px 15px, rgba(0, 204, 204, 0.1) -20px 20px,
    rgba(0, 204, 204, 0.05) -25px 25px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     
}

@keyframes box {
      0% {
    box-shadow: rgba(0, 204, 204, 0.4) -5px 5px, rgba(0, 204, 204, 0.3) -10px 10px,
      rgba(0, 204, 204, 0.2) -15px 15px, rgba(0, 204, 204, 0.1) -20px 20px,
      rgba(0, 204, 204, 0.05) -25px 25px;
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  33% {
    box-shadow: rgba(0, 204, 204, 0.4) 0px 5px, rgba(0, 204, 204, 0.33) 0px 10px, rgba(0, 204, 204, 0.2) 0px 15px, rgba(0, 204, 204, 0.1) 0px 20px, rgba(0, 204, 204, 0.05) 0px 25px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.02) rotate(0.1deg);

    
  }
  
  66%{
    box-shadow: rgba(0, 204, 204, 0.4) 5px 5px, rgba(0, 204, 204, 0.3) 10px 10px,
      rgba(0, 204, 204, 0.2) 15px 15px, rgba(0, 204, 204, 0.1) 20px 20px,
      rgba(0, 204, 204, 0.05) 25px 25px;
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: scale(1.01) rotate(0.05deg);
  }
  100% {
    box-shadow: rgba(0, 204, 204, 0.4) -5px 5px, rgba(0, 204, 204, 0.3) -10px 10px,
      rgba(0, 204, 204, 0.2) -15px 15px, rgba(0, 204, 204, 0.1) -20px 20px,
      rgba(0, 204, 204, 0.05) -25px 25px;
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: scale(1.0) rotate(0deg) ;
     
  }
  
}
.items-tab:hover{
    animation: box 1s infinite;
   animation-timing-function: ease-in-out;
   animation-direction: normal;
   
  
}
.items-tab:hover{
    animation-play-state:inherit;
    
}
.inputs:focus{
    outline: none;
    border: 2px solid #d93208;
  }
  .inputs-ccv:focus{
    outline: none;
    border: 2px solid #d93208;
  }
 
